/* Default */
.colorDefault {
  color: #ededed;
}
.backgroundDefault {
  background: #ededed;
}
.borderDefault {
  border-color: #ededed;
}
/* Primary */
.colorPrimary {
  color: #708fa0 !important;
}
.backgroundPrimary {
  background: #708fa0 !important;
}
.borderPrimary {
  border-color: #708fa0 !important;
}
/* Info */
.colorInfo {
  color: #6fdbe8 !important;
}
.backgroundInfo {
  background: #6fdbe8 !important;
}
.borderInfo {
  border-color: #6fdbe8 !important;
}
/* Success */
.colorSuccess {
  color: #97d271 !important;
}
.backgroundSuccess {
  background: #97d271 !important;
}
.borderSuccess {
  border-color: #97d271 !important;
}
/* Warning */
.colorWarning {
  color: #fdd198 !important;
}
.backgroundWarning {
  background: #fdd198 !important;
}
.borderWarning {
  border-color: #fdd198 !important;
}
/* Danger */
.colorDanger {
  color: #ff8989 !important;
}
.backgroundDanger {
  background: #ff8989 !important;
}
.borderDanger {
  border-color: #ff8989 !important;
}
/* Fonts */
.colorFont1 {
  color: #bac2c7 !important;
}
.colorFont2 {
  color: #7a7a7a !important;
}
.colorFont3 {
  color: #555 !important;
}
.colorFont4 {
  color: #bebebe !important;
}
.colorFont5 {
  color: #aeaeae !important;
}
.heading {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  background-color: white;
  border: none;
  padding: 10px;
}
.text-center {
  text-align: center !important;
}
.text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.img-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body {
  padding-top: 130px;
  background-color: #ededed;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}
body a,
body a:hover,
body a:focus,
body a:active,
body a.active {
  color: #555;
  text-decoration: none;
}
@media (max-width: 920px) {
  body {
    padding-top: 115px;
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  body {
    padding-top: 120px;
  }
}
a:hover {
  text-decoration: none;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  position: inherit;
}
.layout-content-container,
.layout-nav-container {
  padding: 0 10px 0 15px;
}
.layout-sidebar-container {
  padding: 0 15px 0 5px;
}
@media (max-width: 768px) {
  .layout-nav-container .left-navigation {
    margin-bottom: 0px;
  }
  .layout-nav-container,
  .layout-content-container {
    padding: 0px 15px;
  }
}
@media (min-width: 768px) and (max-width: 920px) {
  #topbar-first .container,
  #topbar-second .container {
    padding-left: 10px;
    padding-right: 20px;
  }
}
h4 {
  font-weight: 300;
  font-size: 150%;
}
input[type=text],
input[type=password],
input[type=select] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.powered,
.powered a {
  color: #b8c7d3 !important;
}
.langSwitcher {
  display: inline-block;
}
[data-ui-show-more] {
  overflow: hidden;
}
.topbar {
  position: fixed;
  display: block;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.topbar ul.nav {
  float: left;
}
.topbar ul.nav > li {
  float: left;
}
.topbar ul.nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.topbar .dropdown-footer {
  margin: 10px;
}
.topbar .dropdown-header {
  font-size: 16px;
  padding: 3px 10px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #bebebe;
}
.topbar .dropdown-header .dropdown-header-link {
  position: absolute;
  top: 2px;
  right: 10px;
}
.topbar .dropdown-header .dropdown-header-link a {
  color: #6fdbe8 !important;
  font-size: 12px;
  font-weight: normal;
}
.topbar .dropdown-header:hover {
  color: #bebebe;
}
#topbar-first {
  background-color: #708fa0;
  top: 0;
  z-index: 1030;
  color: white;
}
#topbar-first .nav > li > a:hover,
#topbar-first .nav > .open > a {
  background-color: #8fa7b4;
}
#topbar-first .nav > .account {
  height: 50px;
  margin-left: 20px;
}
#topbar-first .nav > .account img {
  margin-left: 10px;
}
#topbar-first .nav > .account .dropdown-toggle {
  padding: 10px 5px 8px;
  line-height: 1.1em;
  text-align: left;
}
#topbar-first .nav > .account .dropdown-toggle span {
  font-size: 12px;
}
#topbar-first .topbar-brand {
  position: relative;
  z-index: 2;
}
#topbar-first .topbar-actions {
  position: relative;
  z-index: 3;
}
#topbar-first .notifications {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}
#topbar-first .notifications .btn-group {
  position: relative;
  text-align: left;
}
#topbar-first .notifications .btn-group > a {
  padding: 5px 10px;
  margin: 10px 2px;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  text-align: left;
}
#topbar-first .notifications .btn-group > .label {
  position: absolute;
  top: 4px;
  right: -2px;
}
#topbar-first .notifications .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
  z-index: 1035;
}
#topbar-first .notifications .arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: 1001;
  border-width: 11px;
  left: 50%;
  margin-left: -18px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  top: -19px;
  z-index: 1035;
}
#topbar-first .notifications .dropdown-menu {
  width: 350px;
  margin-left: -148px;
}
#topbar-first .notifications .dropdown-menu ul.media-list {
  max-height: 400px;
  overflow: auto;
}
#topbar-first .notifications .dropdown-menu li {
  position: relative;
}
#topbar-first .notifications .dropdown-menu li i.approval {
  position: absolute;
  left: 2px;
  top: 36px;
  font-size: 14px;
}
#topbar-first .notifications .dropdown-menu li i.accepted {
  color: #5cb85c;
}
#topbar-first .notifications .dropdown-menu li i.declined {
  color: #d9534f;
}
#topbar-first .notifications .dropdown-menu li .media {
  position: relative;
}
#topbar-first .notifications .dropdown-menu li .media .img-space {
  position: absolute;
  top: 14px;
  left: 14px;
}
#topbar-first .dropdown-footer {
  margin: 10px 10px 5px;
}
#topbar-first a {
  color: white;
}
#topbar-first .caret {
  border-top-color: #bebebe;
}
#topbar-first .btn-group > a {
  background-color: #7f9baa;
}
#topbar-first .btn-enter {
  background-color: #7f9baa;
  margin: 6px 0;
}
#topbar-first .btn-enter:hover {
  background-color: #89a2b0;
}
#topbar-first .media-list a {
  color: #555;
  padding: 0;
}
#topbar-first .media-list li {
  color: #555;
}
#topbar-first .media-list li i.accepted {
  color: #6fdbe8 !important;
}
#topbar-first .media-list li i.declined {
  color: #ff8989 !important;
}
#topbar-first .media-list li.placeholder {
  border-bottom: none;
}
#topbar-first .media-list .media .media-body .label {
  padding: 0.1em 0.5em;
}
#topbar-first .account .user-title {
  text-align: right;
}
#topbar-first .account .user-title span {
  color: #d7d7d7;
}
#topbar-first .dropdown.account > a,
#topbar-first .dropdown.account.open > a,
#topbar-first .dropdown.account > a:hover,
#topbar-first .dropdown.account.open > a:hover {
  background-color: #708fa0;
}
#topbar-second {
  top: 50px;
  background-color: #fff;
  z-index: 1029;
  background-image: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d4d4d4;
}
#topbar-second .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}
#topbar-second .dropdown-menu .divider {
  margin: 0;
}
#topbar-second #space-menu-dropdown,
#topbar-second #search-menu-dropdown {
  width: 400px;
}
#topbar-second #space-menu-dropdown .media-list,
#topbar-second #search-menu-dropdown .media-list {
  max-height: 400px;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  #topbar-second #space-menu-dropdown .media-list,
  #topbar-second #search-menu-dropdown .media-list {
    max-height: 200px;
  }
}
#topbar-second #space-menu-dropdown form,
#topbar-second #search-menu-dropdown form {
  margin: 10px;
}
#topbar-second #space-menu-dropdown .search-reset,
#topbar-second #search-menu-dropdown .search-reset {
  position: absolute;
  color: #BFBFBF;
  margin: 7px;
  top: 0px;
  right: 40px;
  z-index: 10;
  display: none;
  cursor: pointer;
}
#topbar-second .nav > li > a {
  padding: 7px 13px 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600;
  font-size: 10px;
  min-height: 50px;
  text-transform: uppercase;
  text-align: center;
}
#topbar-second .nav > li > a:hover,
#topbar-second .nav > li > a:active,
#topbar-second .nav > li > a:focus {
  border-bottom: 3px solid #6fdbe8;
  background-color: #f7f7f7;
  color: #555;
  text-decoration: none;
}
#topbar-second .nav > li > a i {
  font-size: 14px;
}
#topbar-second .nav > li > a .caret {
  border-top-color: #7a7a7a;
}
#topbar-second .nav > li.active > a {
  min-height: 47px;
}
#topbar-second .nav > li > ul > li > a {
  border-left: 3px solid #fff;
  background-color: #fff;
  color: #555;
}
#topbar-second .nav > li > ul > li > a:hover,
#topbar-second .nav > li > ul > li > a.active {
  border-left: 3px solid #6fdbe8;
  background-color: #f7f7f7;
  color: #555;
}
#topbar-second .nav > li > a#space-menu {
  padding-right: 13px;
  border-right: 1px solid #ededed;
}
#topbar-second .nav > li > a#search-menu {
  padding-top: 15px;
}
#topbar-second .nav > li > a:hover,
#topbar-second .nav .open > a,
#topbar-second .nav > li.active {
  border-bottom: 3px solid #6fdbe8;
  background-color: #f7f7f7;
  color: #555;
}
#topbar-second .nav > li.active > a:hover {
  border-bottom: none;
}
#topbar-second #space-menu-dropdown li > ul > li > a > .media .media-body p {
  color: #bebebe;
  font-size: 11px;
  margin: 0;
  font-weight: 400;
}
@media (max-width: 767px) {
  .topbar {
    padding-left: 0;
    padding-right: 0;
  }
}
.login-container {
  background-color: #708fa0;
  background-image: linear-gradient(to right, #708fa0 0%, #8fa7b4 50%, #8fa7b4 100%), linear-gradient(to right, #7f9baa 0%, #bdcbd3 51%, #adbfc9 100%);
  background-size: 100% 100%;
  position: relative;
  padding-top: 40px;
}
.login-container .text {
  color: #fff;
  font-size: 12px;
  margin-bottom: 15px;
}
.login-container .text a {
  color: #fff;
  text-decoration: underline;
}
.login-container .panel a {
  color: #6fdbe8;
}
.login-container h1,
.login-container h2 {
  color: #fff !important;
}
.login-container .panel {
  box-shadow: 0 0 15px #627d92;
  -moz-box-shadow: 0 0 15px #627d92;
  -webkit-box-shadow: 0 0 15px #627d92;
}
.login-container .panel .panel-heading,
.login-container .panel .panel-body {
  padding: 15px;
}
.login-container select {
  color: #555;
}
#account-login-form .form-group {
  margin-bottom: 10px;
}
.dropdown-menu li a {
  font-size: 13px !important;
  font-weight: 600 !important;
}
.dropdown-menu li a i {
  margin-right: 5px;
  font-size: 14px;
  display: inline-block;
  width: 14px;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:visited,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  background: none;
  cursor: pointer;
}
.dropdown-menu li:hover,
.dropdown-menu li.selected {
  color: #555;
}
.dropdown-menu li:first-child {
  margin-top: 3px;
}
.dropdown-menu li:last-child {
  margin-bottom: 3px;
}
.modal .dropdown-menu,
.panel .dropdown-menu,
.nav-tabs .dropdown-menu {
  border: 1px solid #d7d7d7;
}
.modal .dropdown-menu li.divider,
.panel .dropdown-menu li.divider,
.nav-tabs .dropdown-menu li.divider {
  background-color: #f7f7f7;
  border-bottom: none;
  margin: 9px 1px !important;
}
.modal .dropdown-menu li,
.panel .dropdown-menu li,
.nav-tabs .dropdown-menu li {
  border-left: 3px solid white;
}
.modal .dropdown-menu li a,
.panel .dropdown-menu li a,
.nav-tabs .dropdown-menu li a {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 15px;
}
.modal .dropdown-menu li a i,
.panel .dropdown-menu li a i,
.nav-tabs .dropdown-menu li a i {
  margin-right: 5px;
}
.modal .dropdown-menu li a:hover,
.panel .dropdown-menu li a:hover,
.nav-tabs .dropdown-menu li a:hover {
  background: none;
}
.modal .dropdown-menu li:hover,
.panel .dropdown-menu li:hover,
.nav-tabs .dropdown-menu li:hover,
.modal .dropdown-menu li.selected,
.panel .dropdown-menu li.selected,
.nav-tabs .dropdown-menu li.selected {
  border-left: 3px solid #6fdbe8;
  background-color: #f7f7f7 !important;
}
ul.contextMenu {
  border: 1px solid #d7d7d7;
}
ul.contextMenu li.divider {
  background-color: #f7f7f7;
  border-bottom: none;
  margin: 9px 1px !important;
}
ul.contextMenu li {
  border-left: 3px solid white;
}
ul.contextMenu li a {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 15px;
}
ul.contextMenu li a i {
  margin-right: 5px;
}
ul.contextMenu li a:hover {
  background: none;
}
ul.contextMenu li:hover,
ul.contextMenu li.selected {
  border-left: 3px solid #6fdbe8;
  background-color: #f7f7f7 !important;
}
.media-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  position: relative;
  border-left: 3px solid white;
  font-size: 12px;
}
.media-list li a {
  color: #555;
}
.media-list .badge-space-type {
  background-color: #f7f7f7;
  border: 1px solid #d7d7d7;
  color: #b2b2b2;
  padding: 3px 3px 2px 3px;
}
.media-list li.new {
  border-left: 3px solid #f3fcfd;
  background-color: #f3fcfd;
}
.media-list li:hover,
.media-list li.selected {
  background-color: #f7f7f7;
  border-left: 3px solid #6fdbe8;
}
.media-list li.placeholder {
  font-size: 14px !important;
  border-bottom: none;
}
.media-list li.placeholder:hover {
  background: none !important;
  border-left: 3px solid white;
}
.media-left,
.media > .pull-left {
  padding-right: 0;
  margin-right: 10px;
}
.media:after {
  content: '';
  clear: both;
  display: block;
}
.media .time {
  font-size: 11px;
  color: #bebebe;
}
.media .img-space {
  position: absolute;
  top: 35px;
  left: 35px;
}
.media .media-body {
  font-size: 13px;
}
.media .media-body h4.media-heading {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.media .media-body h4.media-heading a {
  color: #555;
}
.media .media-body h4.media-heading small,
.media .media-body h4.media-heading small a {
  font-size: 11px;
  color: #bebebe;
}
.media .media-body h4.media-heading .content {
  margin-right: 35px;
}
.media .media-body .content a {
  word-break: break-all;
}
.media .media-body h5 {
  color: #aeaeae;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 15px;
}
.media .media-body .module-controls {
  font-size: 85%;
}
.media .media-body .module-controls a {
  color: #6fdbe8;
}
.media .content a {
  color: #6fdbe8;
}
.media .content .files a {
  color: #555;
}
.content span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.panel {
  border: none;
  background-color: #fff;
  box-shadow: 0 0 3px #dadada;
  -webkit-box-shadow: 0 0 3px #dadada;
  -moz-box-shadow: 0 0 3px #dadada;
  border-radius: 4px;
  position: relative;
  margin-bottom: 15px;
}
.panel h1 {
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  color: #555;
}
.panel .panel-heading {
  font-size: 16px;
  font-weight: 300;
  color: #555;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.panel .panel-heading .heading-link {
  color: #6fdbe8 !important;
  font-size: 0.8em;
}
.panel .panel-body {
  padding: 10px;
  font-size: 13px;
}
.panel .panel-body p {
  color: #555;
}
.panel .panel-body .usersearch-statuses,
.panel .panel-body .spacesearch-visibilities {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 992px) {
  .panel .panel-body .usersearch-statuses,
  .panel .panel-body .spacesearch-visibilities {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
.panel .statistics .entry {
  margin-left: 20px;
  font-size: 12px;
}
.panel .statistics .entry .count {
  color: #6fdbe8;
  font-weight: 600;
  font-size: 20px;
  line-height: 0.8em;
}
.panel h3.media-heading small {
  font-size: 75%;
}
.panel h3.media-heading small a {
  color: #6fdbe8;
}
.panel-danger {
  border: 2px solid #ff8989;
}
.panel-danger .panel-heading {
  color: #ff8989;
}
.panel-success {
  border: 2px solid #97d271;
}
.panel-success .panel-heading {
  color: #97d271;
}
.panel-warning {
  border: 2px solid #fdd198;
}
.panel-warning .panel-heading {
  color: #fdd198;
}
.panel.profile {
  position: relative;
}
.panel.profile .controls {
  position: absolute;
  top: 10px;
  right: 10px;
}
.panel.members .panel-body a img,
.panel.groups .panel-body a img,
.panel.follower .panel-body a img,
.panel.spaces .panel-body a img {
  margin-bottom: 5px;
}
.panel-profile .panel-profile-header {
  position: relative;
  border: 3px solid #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-profile .panel-profile-header .img-profile-header-background {
  border-radius: 3px;
  min-height: 110px;
}
.panel-profile .panel-profile-header .img-profile-data {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 180px;
  padding-top: 30px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  pointer-events: none;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.38) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.38)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.38) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.38) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.38) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.38) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#94000000', GradientType=0);
  /* IE6-9 */
}
.panel-profile .panel-profile-header .img-profile-data h1 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 7px;
  color: #fff;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-profile .panel-profile-header .img-profile-data h2 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}
.panel-profile .panel-profile-header .img-profile-data h1.space {
  font-size: 30px;
  font-weight: 700;
}
.panel-profile .panel-profile-header .img-profile-data h2.space {
  font-size: 13px;
  font-weight: 300;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-profile .panel-profile-header .profile-user-photo-container {
  position: absolute;
  bottom: -50px;
  left: 15px;
}
.panel-profile .panel-profile-header .profile-user-photo-container .profile-user-photo {
  border: 3px solid #fff;
  border-radius: 5px;
}
.panel-profile .panel-profile-controls {
  padding-left: 160px;
}
.panel.pulse,
.panel.fadeIn {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}
@media (max-width: 767px) {
  .panel-profile-controls {
    padding-left: 0 !important;
    padding-top: 50px;
  }
  .panel-profile .panel-profile-header .img-profile-data h1 {
    font-size: 20px !important;
  }
}
.panel-body > .tab-menu {
  margin-left: -10px;
  margin-right: -10px;
}
.installer .logo {
  text-align: center;
}
.installer h2 {
  font-weight: 100;
}
.installer .panel {
  margin-top: 50px;
}
.installer .panel h3 {
  margin-top: 0;
}
.installer .powered,
.installer .powered a {
  color: #bac2c7 !important;
  margin-top: 10px;
  font-size: 12px;
}
.installer .fa {
  width: 18px;
}
.installer .check-ok {
  color: #97d271;
}
.installer .check-warning {
  color: #fdd198;
}
.installer .check-error {
  color: #ff8989;
}
.installer .prerequisites-list ul {
  list-style: none;
  padding-left: 15px;
}
.installer .prerequisites-list ul li {
  padding-bottom: 5px;
}
.pagination-container {
  text-align: center;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #708fa0;
  border-color: #708fa0;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:focus {
  color: #555;
  cursor: pointer;
}
.well-small {
  padding: 10px;
  border-radius: 3px;
}
.well {
  border: none;
  box-shadow: none;
  background-color: #ededed;
  margin-bottom: 1px;
}
.well hr {
  margin: 15px 0 10px;
  border-top: 1px solid #d9d9d9;
}
.well table > thead {
  font-size: 11px;
}
.tab-sub-menu {
  padding-left: 10px;
}
.tab-sub-menu li > a:hover,
.tab-sub-menu li > a:focus {
  background-color: #f7f7f7;
  border-bottom-color: #ddd;
}
.tab-sub-menu li.active > a {
  background-color: #fff;
  border-bottom-color: transparent;
}
.tab-menu {
  padding-top: 10px;
  background-color: #fff;
}
.tab-menu .nav-tabs {
  padding-left: 10px;
}
.tab-menu .nav-tabs li > a {
  padding-top: 12px;
  border-color: #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  max-height: 41px;
  outline: none;
}
.tab-menu .nav-tabs li > a:hover,
.tab-menu .nav-tabs li > a:focus {
  padding-top: 10px;
  border-top: 3px solid #ddd;
}
.tab-menu .nav-tabs li > a:hover {
  background-color: #f7f7f7;
}
.tab-menu .nav-tabs li.active > a,
.tab-menu .nav-tabs li.active > a:hover {
  padding-top: 10px;
  border-top: 3px solid #6fdbe8;
}
.tab-menu .nav-tabs li.active > a {
  background-color: #fff;
  border-bottom-color: transparent;
}
ul.tab-menu {
  padding-top: 10px;
  background-color: #fff;
  padding-left: 10px;
}
ul.tab-menu-settings li > a {
  padding-top: 12px;
  border-color: #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  max-height: 41px;
  outline: none;
}
ul.tab-menu-settings li > a:hover,
ul.tab-menu-settings li > a:focus {
  padding-top: 10px;
  border-top: 3px solid #ddd !important;
}
ul.tab-menu-settings li > a:hover {
  background-color: #f7f7f7;
}
ul.tab-menu-settings li.active > a,
ul.tab-menu-settings li.active > a:hover,
ul.tab-menu-settings li.active > a:focus {
  padding-top: 10px;
  border-top: 3px solid #6fdbe8 !important;
}
ul.tab-menu-settings li.active > a {
  background-color: #fff;
  border-bottom-color: transparent !important;
}
.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.account .dropdown-menu {
  background-color: #708fa0;
  border: none;
}
.nav-pills .dropdown-menu li.divider,
.nav-tabs .dropdown-menu li.divider,
.account .dropdown-menu li.divider {
  background-color: #628394;
  border-bottom: none;
  margin: 9px 1px !important;
}
.nav-pills .dropdown-menu li,
.nav-tabs .dropdown-menu li,
.account .dropdown-menu li {
  border-left: 3px solid #708fa0;
}
.nav-pills .dropdown-menu li a,
.nav-tabs .dropdown-menu li a,
.account .dropdown-menu li a {
  color: white;
  font-weight: 400;
  font-size: 13px;
  padding: 4px 15px;
}
.nav-pills .dropdown-menu li a i,
.nav-tabs .dropdown-menu li a i,
.account .dropdown-menu li a i {
  margin-right: 5px;
  font-size: 14px;
  display: inline-block;
  width: 14px;
}
.nav-pills .dropdown-menu li a:hover,
.nav-tabs .dropdown-menu li a:hover,
.account .dropdown-menu li a:hover,
.nav-pills .dropdown-menu li a:visited,
.nav-tabs .dropdown-menu li a:visited,
.account .dropdown-menu li a:visited,
.nav-pills .dropdown-menu li a:hover,
.nav-tabs .dropdown-menu li a:hover,
.account .dropdown-menu li a:hover,
.nav-pills .dropdown-menu li a:focus,
.nav-tabs .dropdown-menu li a:focus,
.account .dropdown-menu li a:focus {
  background: none;
}
.nav-pills .dropdown-menu li:hover,
.nav-tabs .dropdown-menu li:hover,
.account .dropdown-menu li:hover,
.nav-pills .dropdown-menu li.selected,
.nav-tabs .dropdown-menu li.selected,
.account .dropdown-menu li.selected {
  border-left: 3px solid #6fdbe8;
  color: #fff !important;
  background-color: #628394 !important;
}
.nav-pills.preferences .dropdown .dropdown-toggle {
  color: #bebebe;
}
.nav-pills.preferences .dropdown.open .dropdown-toggle,
.nav-pills.preferences .dropdown.open .dropdown-toggle:hover {
  background-color: #708fa0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #708fa0;
}
.nav-tabs {
  margin-bottom: 10px;
}
.list-group a [class^="fa-"],
.list-group a [class*=" fa-"] {
  display: inline-block;
  width: 18px;
}
.nav-pills.preferences {
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav-pills.preferences .dropdown .dropdown-toggle {
  padding: 2px 10px;
}
.nav-pills.preferences .dropdown.open .dropdown-toggle,
.nav-pills.preferences .dropdown.open .dropdown-toggle:hover {
  color: white;
}
.nav-tabs li {
  font-weight: 600;
  font-size: 12px;
}
.tab-content .tab-pane a {
  color: #6fdbe8;
}
.tab-content .tab-pane .form-group {
  margin-bottom: 5px;
}
.nav-tabs.tabs-center li {
  float: none;
  display: inline-block;
}
.nav-tabs.tabs-small li > a {
  padding: 5px 7px;
}
.nav .caret,
.nav .caret:hover,
.nav .caret:active {
  border-top-color: #555;
  border-bottom-color: #555;
  height: 6.928px;
}
.nav li.dropdown > a:hover .caret,
.nav li.dropdown > a:active .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #ededed;
  color: #555;
}
.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  color: #555;
}
.footer-nav {
  filter: opacity(0.6);
  font-size: 12px;
  text-align: center;
}
@media (max-width: 991px) {
  .controls-header {
    text-align: left !important;
  }
}
.btn {
  float: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
  text-shadow: none;
  border-radius: 3px;
  outline: none !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
}
.input.btn {
  outline: none;
}
.btn-lg {
  padding: 16px 28px;
}
.btn-sm {
  padding: 4px 8px;
  font-size: 12px;
}
.btn-sm i {
  font-size: 14px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
}
.btn-default {
  background: #ededed;
  color: #7a7a7a !important;
}
.btn-default:hover,
.btn-default:focus {
  background: #e8e8e8;
  text-decoration: none;
  color: #7a7a7a;
}
.btn-default:active,
.btn-default.active {
  outline: 0;
  background: #e0e0e0;
}
.btn-default[disabled],
.btn-default.disabled {
  background: #f2f2f2;
}
.btn-default[disabled]:hover,
.btn-default.disabled:hover,
.btn-default[disabled]:focus,
.btn-default.disabled:focus {
  background: #f2f2f2;
}
.btn-default[disabled]:active,
.btn-default.disabled:active,
.btn-default[disabled].active,
.btn-default.disabled.active {
  background: #f2f2f2;
}
.btn-primary {
  background: #708fa0;
  color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #628394;
  text-decoration: none;
}
.btn-primary:active,
.btn-primary.active {
  outline: 0;
  background: #628394 !important;
}
.btn-primary[disabled],
.btn-primary.disabled {
  background: #7f9baa;
}
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus {
  background: #7f9baa;
}
.btn-primary[disabled]:active,
.btn-primary.disabled:active,
.btn-primary[disabled].active,
.btn-primary.disabled.active {
  background: #7f9baa !important;
}
.btn-info {
  background: #6fdbe8;
  color: #fff !important;
}
.btn-info:hover,
.btn-info:focus {
  background: #59d6e4 !important;
  text-decoration: none;
}
.btn-info:active,
.btn-info.active {
  outline: 0;
  background: #59d6e4;
}
.btn-info[disabled],
.btn-info.disabled {
  background: #85e0ec;
}
.btn-info[disabled]:hover,
.btn-info.disabled:hover,
.btn-info[disabled]:focus,
.btn-info.disabled:focus {
  background: #85e0ec;
}
.btn-info[disabled]:active,
.btn-info.disabled:active,
.btn-info[disabled].active,
.btn-info.disabled.active {
  background: #85e0ec !important;
}
.btn-danger {
  background: #ff8989;
  color: #fff !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background: #ff6f6f;
  text-decoration: none;
}
.btn-danger:active,
.btn-danger.active {
  outline: 0;
  background: #ff6f6f !important;
}
.btn-danger[disabled],
.btn-danger.disabled {
  background: #ffa3a3;
}
.btn-danger[disabled]:hover,
.btn-danger.disabled:hover,
.btn-danger[disabled]:focus,
.btn-danger.disabled:focus {
  background: #ffa3a3;
}
.btn-danger[disabled]:active,
.btn-danger.disabled:active,
.btn-danger[disabled].active,
.btn-danger.disabled.active {
  background: #ffa3a3 !important;
}
.btn-success {
  background: #97d271;
  color: #fff !important;
}
.btn-success:hover,
.btn-success:focus {
  background: #89cc5e;
  text-decoration: none;
}
.btn-success:active,
.btn-success.active {
  outline: 0;
  background: #89cc5e !important;
}
.btn-success[disabled],
.btn-success.disabled {
  background: #a5d884;
}
.btn-success[disabled]:hover,
.btn-success.disabled:hover,
.btn-success[disabled]:focus,
.btn-success.disabled:focus {
  background: #a5d884;
}
.btn-success[disabled]:active,
.btn-success.disabled:active,
.btn-success[disabled].active,
.btn-success.disabled.active {
  background: #a5d884 !important;
}
.btn-warning {
  background: #fdd198;
  color: #fff !important;
}
.btn-warning:hover,
.btn-warning:focus {
  background: #fdcd8e;
  text-decoration: none;
}
.btn-warning:active,
.btn-warning.active {
  outline: 0;
  background: #fdcd8e !important;
}
.btn-warning[disabled],
.btn-warning.disabled {
  background: #fddcb1;
}
.btn-warning[disabled]:hover,
.btn-warning.disabled:hover,
.btn-warning[disabled]:focus,
.btn-warning.disabled:focus {
  background: #fddcb1;
}
.btn-warning[disabled]:active,
.btn-warning.disabled:active,
.btn-warning[disabled].active,
.btn-warning.disabled.active {
  background: #fddcb1 !important;
}
.radio,
.checkbox {
  margin-top: 5px !important;
  margin-bottom: 0;
}
.radio label,
.checkbox label {
  padding-left: 10px;
}
.form-control {
  border: 2px solid #ededed;
  box-shadow: none;
  min-height: 35px;
}
.form-control:focus {
  border: 2px solid #6fdbe8;
  outline: 0;
  box-shadow: none;
}
.form-control.form-search {
  border-radius: 30px;
  background-image: url("../img/icon_search16x16.png");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding-left: 34px;
}
.form-group-search {
  position: relative;
}
.form-group-search .form-button-search {
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: 30px;
}
textarea {
  resize: none;
  height: 1.5em;
}
select.form-control:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/select_arrow.png") !important;
  background-repeat: no-repeat;
  background-position: right 13px;
  overflow: hidden;
}
label {
  font-weight: normal;
}
label.control-label {
  font-weight: bold;
}
::-webkit-input-placeholder {
  color: #bebebe !important;
}
::-moz-placeholder {
  color: #bebebe !important;
}
/* firefox 19+ */
:-ms-input-placeholder {
  color: #bebebe !important;
}
/* ie */
input:-moz-placeholder {
  color: #bebebe !important;
}
.placeholder {
  padding: 10px;
}
input.placeholder,
textarea.placeholder {
  padding: 0 0 0 10px;
  color: #999;
}
.help-block-error {
  font-size: 12px;
}
.hint-block,
.help-block:not(.help-block-error) {
  color: #aeaeae !important;
  font-size: 12px;
}
.hint-block:hover,
.help-block:not(.help-block-error):hover {
  color: #7a7a7a !important;
  font-size: 12px;
}
.input-group-addon {
  border: none;
}
a.input-field-addon {
  font-size: 12px;
  float: right;
  margin-top: -10px;
}
a.input-field-addon-sm {
  font-size: 11px;
  float: right;
  margin-top: -10px;
}
.timeZoneInputContainer {
  padding-top: 10px;
}
.timeZoneInputContainer ~ .help-block {
  margin: 0px;
}
.label {
  text-transform: uppercase;
}
.label {
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 5px 4px;
  font-weight: 600;
  font-size: 10px !important;
  color: white !important;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
}
.label-default {
  background: #ededed;
  color: #7a7a7a !important;
}
a.label-default:hover {
  background: #e0e0e0 !important;
}
.label-info {
  background-color: #6fdbe8;
}
a.label-info:hover {
  background: #59d6e4 !important;
}
.label-danger {
  background-color: #ff8989;
}
a.label-danger:hover {
  background: #ff6f6f !important;
}
.label-success {
  background-color: #97d271;
}
a.label-success:hover {
  background: #89cc5e !important;
}
.label-warning {
  background-color: #fdd198;
}
a.label-warning:hover {
  background: #fdc67f !important;
}
.regular-checkbox:checked + .regular-checkbox-box {
  border: 2px solid #6fdbe8;
  background: #6fdbe8;
  color: white;
}
.regular-checkbox-box.disabled {
  background: #d7d7d7 !important;
  border: 2px solid #d7d7d7 !important;
  cursor: not-allowed;
}
.regular-radio:checked + .regular-radio-button:after {
  background: #6fdbe8;
}
.regular-radio:checked + .regular-radio-button {
  background-color: none;
  color: #99a1a7;
  border: 2px solid #d7d7d7;
  margin-right: 5px;
}
.regular-radio.disabled {
  background: #d7d7d7 !important;
  border: 2px solid #d7d7d7 !important;
  cursor: not-allowed;
}
.errorMessage {
  color: #ff8989;
  padding: 10px 0;
}
.error {
  border-color: #ff8989 !important;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #ff8989 !important;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: #ff8989;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #97d271;
}
.has-success .form-control,
.has-success .form-control:focus {
  border-color: #97d271;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #fdd198;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #fdd198;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bootstrap-timepicker-widget .form-control {
  padding: 0px;
}
#notification_overview_filter label {
  display: block;
}
#notification_overview_list .img-space {
  position: absolute;
  top: 25px;
  left: 25px;
}
@media (max-width: 767px) {
  .notifications {
    position: inherit !important;
    float: left !important;
  }
  .notifications .dropdown-menu {
    width: 300px !important;
    margin-left: 0 !important;
  }
  .notifications .dropdown-menu .arrow {
    margin-left: -142px !important;
  }
}
.badge-space {
  margin-top: 6px;
}
.badge-space-chooser {
  padding: 3px 5px;
  margin-left: 1px;
}
.badge {
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 10px !important;
  text-transform: uppercase;
  color: #fff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
  background-color: #d7d7d7;
  line-height: 1;
}
.popover {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.popover .popover-title {
  background: none;
  border-bottom: none;
  color: #555;
  font-weight: 300;
  font-size: 16px;
  padding: 15px;
}
.popover .popover-content {
  font-size: 13px;
  padding: 5px 15px;
  color: #555;
}
.popover .popover-content a {
  color: #6fdbe8;
}
.popover .popover-content img {
  max-width: 100%;
}
.popover .popover-navigation {
  padding: 15px;
}
.list-group-item {
  padding: 6px 15px;
  border: none;
  border-width: 0 !important;
  border-left: 3px solid #fff !important;
  font-size: 12px;
  font-weight: 600;
}
.list-group-item i {
  font-size: 14px;
}
a.list-group-item:hover,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #555;
  background-color: #f7f7f7;
  border-left: 3px solid #6fdbe8 !important;
}
@media (max-width: 991px) {
  .list-group {
    margin-left: 4px;
  }
  .list-group-item {
    display: inline-block !important;
    border-radius: 3px !important;
    margin: 4px 0;
    margin-bottom: 4px !important;
  }
  .list-group-item {
    border: none !important;
  }
  a.list-group-item:hover,
  a.list-group-item.active,
  a.list-group-item.active:hover,
  a.list-group-item.active:focus {
    border: none !important;
    background: #708fa0 !important;
    color: #fff !important;
  }
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    width: auto !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.modal-top {
  z-index: 999999 !important;
}
.modal {
  overflow-y: visible;
}
.modal-dialog-extra-small {
  width: 400px;
}
.modal-dialog-small {
  width: 500px;
}
.modal-dialog-normal {
  width: 600px;
}
.modal-dialog-medium {
  width: 768px;
}
.modal-dialog-large {
  width: 900px;
}
@media screen and (max-width: 920px) {
  .modal-dialog-large {
    width: auto !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.modal {
  border: none;
}
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5 {
  margin-top: 20px;
  color: #555;
  font-weight: 300;
}
.modal h4.media-heading {
  margin-top: 0;
}
.modal-title {
  font-size: 20px;
  font-weight: 200;
  color: #555;
}
.modal-dialog,
.modal-content {
  min-width: 150px;
}
.modal-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: none;
}
.modal-content .modal-header {
  padding: 20px 20px 0;
  border-bottom: none;
  text-align: center;
}
.modal-content .modal-header .close {
  margin-top: 2px;
  margin-right: 5px;
}
.modal-content .modal-body {
  padding: 20px;
  font-size: 13px;
}
.modal-content .modal-footer {
  margin-top: 0;
  text-align: left;
  padding: 10px 20px 30px;
  border-top: none;
  text-align: center;
}
.modal-content .modal-footer hr {
  margin-top: 0;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-dialog.fadeIn,
.modal-dialog.pulse {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}
.module-installed {
  opacity: 0.5;
}
.module-installed .label-success {
  background-color: #d7d7d7;
}
.tooltip-inner {
  background-color: #708fa0;
  max-width: 400px;
  text-align: left;
  font-weight: 300;
  padding: 2px 8px 4px;
  font-weight: bold;
  white-space: pre-wrap;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #708fa0;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #708fa0;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #708fa0;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #708fa0;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #708fa0;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #708fa0;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #708fa0;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #708fa0;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.progress {
  height: 10px;
  margin-bottom: 15px;
  box-shadow: none;
  background: #ededed;
  border-radius: 10px;
}
.progress-bar-info {
  background-color: #6fdbe8;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#nprogress .bar {
  height: 2px;
  background: #708fa0;
}
table {
  margin-bottom: 0px !important;
}
table th {
  font-size: 11px;
  color: #bebebe;
  font-weight: normal;
}
table thead tr th {
  border: none !important;
}
table .time {
  font-size: 12px;
}
table td a:hover {
  color: #6fdbe8;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 10px 10px 0;
}
.table > thead > tr > th select,
.table > tbody > tr > th select,
.table > tfoot > tr > th select,
.table > thead > tr > td select,
.table > tbody > tr > td select,
.table > tfoot > tr > td select {
  font-size: 12px;
  padding: 4px 8px;
  height: 30px;
  margin: 0;
}
.table-middle > thead > tr > th,
.table-middle > tbody > tr > th,
.table-middle > tfoot > tr > th,
.table-middle > thead > tr > td,
.table-middle > tbody > tr > td,
.table-middle > tfoot > tr > td {
  vertical-align: middle !important;
}
@media (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td.notification-type {
    white-space: normal;
  }
}
.comment-container {
  margin-top: 10px;
}
.comment-container .wall-entry-controls {
  margin-left: 50px;
}
.comment {
  /*-- Since v1.2 overflow: visible */
}
.comment .media {
  position: relative !important;
  margin-top: 0;
}
.comment .media .nav-pills.preferences {
  display: none;
  right: -3px;
  top: -3px;
}
.comment .media-body {
  overflow: visible;
}
.comment .jp-progress {
  background-color: #dbdcdd !important;
}
.comment .jp-play-bar {
  background: #cacaca;
}
.comment .content a {
  color: #21bdd0;
}
.comment.guest-mode .media:last-child .wall-entry-controls {
  margin-bottom: 0;
  margin-left: 50px;
}
.comment.guest-mode .media:last-child hr {
  display: none;
}
.comment_create,
.content_edit {
  position: relative;
}
.comment_create .comment-buttons,
.content_edit .comment-buttons {
  position: absolute;
  bottom: 2px;
  right: 5px;
}
.comment_create .btn-comment-submit,
.content_edit .btn-comment-submit {
  margin-top: 3px;
}
.comment_create .fileinput-button,
.content_edit .fileinput-button {
  float: left;
  padding: 6px 10px;
  background: transparent !important;
}
.comment_create .fileinput-button .fa,
.content_edit .fileinput-button .fa {
  color: #d7d7d7;
}
.comment_create .fileinput-button:hover .fa,
.content_edit .fileinput-button:hover .fa {
  background: transparent !important;
  color: #b2b2b2;
}
.comment_create .fileinput-button:active,
.content_edit .fileinput-button:active {
  box-shadow: none !important;
}
.post-richtext-input-group {
  position: relative;
}
.post-richtext-input-group .comment-buttons {
  bottom: 7px !important;
}
.comment-container .content_edit {
  margin-left: 50px;
}
.comment_edit_content {
  margin-left: 50px;
}
.comment-message {
  overflow: hidden;
  overflow-wrap: break-word;
}
.comment-create-input-group {
  position: relative;
}
.comment-create-input-group .ProsemirrorEditor .ProseMirror {
  padding-right: 72px;
}
.comment-create-input-group.scrollActive .comment-buttons {
  right: 22px;
}
.grid-view img {
  width: 24px;
  height: 24px;
}
.grid-view .filters input,
.grid-view .filters select {
  border: 2px solid #ededed;
  box-shadow: none;
  min-height: 35px;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
}
.grid-view .filters input:focus,
.grid-view .filters select:focus {
  border: 2px solid #6fdbe8;
  outline: 0;
  box-shadow: none;
}
.grid-view {
  padding: 15px 0 0;
}
.grid-view img {
  border-radius: 3px;
}
.grid-view table th {
  font-size: 13px !important;
  font-weight: bold !important;
}
.grid-view table td {
  vertical-align: middle !important;
}
.grid-view table tr {
  font-size: 13px !important;
}
.grid-view table thead tr th:first-of-type {
  padding-left: 5px;
}
.grid-view table tbody tr {
  height: 50px;
}
.grid-view table tbody tr td:first-of-type {
  padding-left: 5px;
}
.grid-view .summary {
  font-size: 12px;
  color: #bac2c7;
}
.permission-grid-editor > .table > tbody > tr:first-child > td {
  border: none;
}
.permission-grid-editor {
  padding-top: 0px;
}
.detail-view td,
.detail-view th {
  padding: 8px !important;
}
.detail-view th {
  font-size: 13px;
}
.oembed_snippet {
  margin-top: 10px;
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden;
}
.oembed_snippet iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.activities {
  max-height: 400px;
  overflow: auto;
}
.activities li .media {
  position: relative;
}
.activities li .media .img-space {
  position: absolute;
  top: 14px;
  left: 14px;
}
.activities li .media .media-body {
  max-width: 295px;
}
.contentForm_options {
  margin-top: 10px;
  min-height: 29px;
}
.contentForm_options .btn_container {
  position: relative;
}
.contentForm_options .btn_container .label-public {
  position: absolute;
  right: 40px;
  top: 11px;
}
#content-topic-bar {
  margin-top: 5px;
  text-align: right;
}
#content-topic-bar .label {
  margin-left: 4px;
}
#contentFormError {
  color: #ff8989;
  padding-left: 0;
  list-style: none;
}
.placeholder-empty-stream {
  background-image: url("../img/placeholder-postform-arrow.png");
  background-repeat: no-repeat;
  padding: 37px 0 0 70px;
  margin-left: 90px;
}
.wall-entry {
  position: relative;
}
.wall-entry .content p,
.wall-entry .content a {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.wall-entry .content img {
  max-width: 100%;
}
.wall-entry .media {
  overflow: visible;
}
.wall-entry .well {
  margin-bottom: 0;
}
.wall-entry .well .comment .show-all-link {
  font-size: 12px;
  cursor: pointer;
}
.wall-entry .media-heading {
  font-size: 14px;
  padding-top: 1px;
  margin-bottom: 3px;
}
.wall-entry .media-heading .labels {
  padding-right: 32px;
}
.wall-entry .media-heading .viaLink {
  font-size: 13px;
}
.wall-entry .media-heading .viaLink i {
  color: #bebebe;
  padding-left: 4px;
  padding-right: 4px;
}
.wall-entry .media-subheading {
  color: #bebebe;
  font-size: 12px;
}
.wall-entry .media-subheading .time {
  font-size: 12px;
  white-space: nowrap;
}
.wall-entry-controls,
.wall-entry-controls a {
  font-size: 11px;
  font-weight: 700;
  color: #7a7a7a;
  margin-top: 10px;
  margin-bottom: 0;
}
#wall-stream-filter-nav {
  font-size: 12px;
  margin-bottom: 10px;
  padding-top: 2px;
  border-radius: 0 0 4px 4px;
}
#wall-stream-filter-nav .wall-stream-filter-root {
  margin: 0;
  border: 0 !important;
}
#wall-stream-filter-nav .filter-panel {
  padding: 0 10px;
}
#wall-stream-filter-nav .wall-stream-filter-head {
  padding: 5px 5px 10px 5px;
  border-bottom: 1px solid #ddd;
}
#wall-stream-filter-nav .wall-stream-filter-body {
  overflow: hidden;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
#wall-stream-filter-nav hr {
  margin: 5px 0 0 0;
}
#wall-stream-filter-nav .topic-remove-label {
  float: left;
}
#wall-stream-filter-nav .topic-remove-label,
#wall-stream-filter-nav .content-type-remove-label {
  margin-right: 6px;
}
#wall-stream-filter-nav .select2 {
  width: 260px !important;
  margin-bottom: 5px;
  margin-top: 2px;
}
#wall-stream-filter-nav .select2 .select2-search__field {
  height: 25px !important;
}
#wall-stream-filter-nav .select2 .select2-selection__choice {
  height: 23px !important;
}
#wall-stream-filter-nav .select2 .select2-selection__choice span,
#wall-stream-filter-nav .select2 .select2-selection__choice i {
  line-height: 19px !important;
}
#wall-stream-filter-nav .select2 .select2-selection__choice .img-rounded {
  width: 18px !important;
  height: 18px !important;
}
#wall-stream-filter-nav .wall-stream-filter-bar {
  display: inline;
  float: right;
  white-space: normal;
}
#wall-stream-filter-nav .wall-stream-filter-bar .label {
  height: 18px;
  padding-top: 4px;
}
#wall-stream-filter-nav .wall-stream-filter-bar .btn,
#wall-stream-filter-nav .wall-stream-filter-bar .label {
  box-shadow: 0 0 2px #7a7a7a;
  -webkit-box-shadow: 0 0 2px #7a7a7a;
  -moz-box-shadow: 0 0 2px #7a7a7a;
}
@media (max-width: 767px) {
  #wall-stream-filter-nav .wall-stream-filter-root {
    white-space: nowrap;
  }
  #wall-stream-filter-nav .wall-stream-filter-body {
    overflow: auto;
  }
}
.filter-root {
  margin: 15px;
}
.filter-root .row {
  display: table !important;
}
.filter-root .filter-panel {
  padding: 0 5px;
  display: table-cell !important;
  float: none;
}
.filter-root .filter-panel .filter-block strong {
  margin-bottom: 5px;
}
.filter-root .filter-panel .filter-block ul.filter-list {
  list-style: none;
  padding: 0;
  margin: 0 0 5px;
}
.filter-root .filter-panel .filter-block ul.filter-list li {
  font-size: 12px;
  padding: 2px;
}
.filter-root .filter-panel .filter-block ul.filter-list li a {
  color: #555;
}
.filter-root .filter-panel div.filter-block:last-of-type ul.filter-list {
  margin: 0px;
}
.filter-root .filter-panel + .filter-panel {
  border-left: 2px solid #ededed;
}
.stream-entry-loader {
  float: right;
  margin-top: 5px;
}
.load-suppressed {
  margin-top: -17px;
  margin-bottom: 15px;
  text-align: center;
}
.load-suppressed a {
  display: inline-block;
  background-color: white;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddd;
  font-size: 11px;
}
.space-owner {
  text-align: center;
  margin: 14px 0;
  font-size: 13px;
  color: #999;
}
.space-member-sign {
  color: #97d271;
  position: absolute;
  top: 42px;
  left: 42px;
  font-size: 16px;
  background: #fff;
  width: 24px;
  height: 24px;
  padding: 2px 3px 1px 4px;
  border-radius: 50px;
  border: 2px solid #97d271;
}
#space-menu-dropdown i.type {
  font-size: 16px;
  color: #BFBFBF;
}
#space-menu-spaces [data-space-chooser-item] {
  cursor: pointer;
}
#space-menu-dropdown .input-group-addon {
  border-radius: 0px 4px 4px 0px;
}
#space-menu-dropdown .input-group-addon.focus {
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #6fdbe8;
  border-left: 0px;
}
#space-menu-search {
  border-right: 0px;
}
#space-directory-link i {
  margin-right: 0px;
}
.space-acronym {
  color: #fff;
  text-align: center;
  display: inline-block;
}
.current-space-image {
  margin-right: 3px;
  margin-top: 3px;
}
@media (max-width: 767px) {
  #space-menu > .title {
    display: none;
  }
  #space-menu-dropdown {
    width: 300px !important;
  }
}
.files,
#postFormFiles_list {
  padding-left: 0;
}
.contentForm-upload-list {
  padding-left: 0;
}
.contentForm-upload-list li:first-child {
  margin-top: 10px;
}
.file_upload_remove_link,
.file_upload_remove_link:hover {
  color: #ff8989;
  cursor: pointer;
}
.file-preview-item {
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-files {
  margin-top: 10px;
}
.post-files img {
  vertical-align: top;
  margin-bottom: 3px;
  margin-right: 5px;
  max-height: 100%;
  -webkit-animation-duration: 2s;
  /* Safari 4.0 - 8.0 */
  animation-duration: 2s;
}
#wallStream.mobile .post-files {
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
}
#wallStream.mobile .post-files img {
  max-width: 190px;
}
.file-preview-content {
  cursor: pointer;
}
.image-upload-container {
  position: relative;
}
.image-upload-container .image-upload-buttons {
  display: none;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.image-upload-container input[type="file"] {
  position: absolute;
  opacity: 0;
}
.image-upload-container .image-upload-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #f8f8f8;
}
.mime {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 1px 0 4px 26px;
}
.mime-word {
  background-image: url("../img/mime/word.png");
}
.mime-excel {
  background-image: url("../img/mime/excel.png");
}
.mime-powerpoint {
  background-image: url("../img/mime/powerpoint.png");
}
.mime-pdf {
  background-image: url("../img/mime/pdf.png");
}
.mime-zip {
  background-image: url("../img/mime/zip.png");
}
.mime-image {
  background-image: url("../img/mime/image.png");
}
.mime-file {
  background-image: url("../img/mime/file.png");
}
.mime-photoshop {
  background-image: url("../img/mime/photoshop.png");
}
.mime-illustrator {
  background-image: url("../img/mime/illustrator.png");
}
.mime-video {
  background-image: url("../img/mime/video.png");
}
.mime-audio {
  background-image: url("../img/mime/audio.png");
}
ul.tour-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 10px;
}
ul.tour-list li {
  padding-top: 5px;
}
ul.tour-list li a {
  color: #6fdbe8;
}
ul.tour-list li a .fa {
  width: 16px;
}
ul.tour-list li.completed a {
  text-decoration: line-through;
  color: #bebebe;
}
.atwho-view .cur {
  border-left: 3px solid #6fdbe8;
  background-color: #f7f7f7 !important;
}
.atwho-user,
.atwho-space,
.atwho-input a {
  color: #6fdbe8;
}
.atwho-input a:hover {
  color: #6fdbe8;
}
.atwho-view strong {
  background-color: #f9f0d2;
}
.atwho-view .cur strong {
  background-color: #f9f0d2;
}
.atwho-view span {
  padding: 5px;
}
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.loader {
  padding: 30px 0;
}
.loader .sk-spinner-three-bounce div,
.loader .sk-spinner-three-bounce span {
  width: 12px;
  height: 12px;
  background-color: #6fdbe8;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loader .sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader .sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loader-modal {
  padding: 8px 0;
}
.loader-postform {
  padding: 9px 0;
}
.loader-postform .sk-spinner-three-bounce.sk-spinner {
  text-align: left;
  margin: 0;
}
.markdown-render h1,
.markdown-render h2,
.markdown-render h3,
.markdown-render h4,
.markdown-render h5,
.markdown-render h6 {
  font-weight: bold !important;
}
.markdown-render h1 {
  font-size: 28px !important;
}
.markdown-render h2 {
  font-size: 24px !important;
}
.markdown-render h3 {
  font-size: 18px !important;
}
.markdown-render h4 {
  font-size: 16px !important;
}
.markdown-render h5 {
  font-size: 14px !important;
}
.markdown-render h6 {
  color: #999;
  font-size: 14px !important;
}
.markdown-render pre {
  padding: 0;
  border: none;
  border-radius: 3px;
}
.markdown-render pre code {
  padding: 10px;
  border-radius: 3px;
  font-size: 12px !important;
}
.markdown-render a,
.markdown-render a:visited {
  background-color: inherit;
  text-decoration: none;
  color: #6fdbe8 !important;
}
.markdown-render a.header-anchor {
  color: #777 !important;
}
.markdown-render img {
  max-width: 100%;
}
.markdown-render table {
  width: 100%;
}
.markdown-render table th {
  font-size: 13px;
  font-weight: 700;
  color: #555;
}
.markdown-render table thead tr {
  border-bottom: 1px solid #d7d7d7;
}
.markdown-render table tbody tr td,
.markdown-render table thead tr th {
  border: 1px solid #d7d7d7 !important;
  padding: 4px;
}
.md-editor.active {
  border: 2px solid #6fdbe8 !important;
}
.md-editor textarea {
  padding: 10px !important;
}
[data-ui-markdown],
[data-ui-richtext] {
  overflow: hidden;
  overflow-wrap: break-word;
}
[data-ui-markdown] h1,
[data-ui-richtext] h1,
[data-ui-markdown] h2,
[data-ui-richtext] h2,
[data-ui-markdown] h3,
[data-ui-richtext] h3,
[data-ui-markdown] h4,
[data-ui-richtext] h4,
[data-ui-markdown] h5,
[data-ui-richtext] h5,
[data-ui-markdown] h6,
[data-ui-richtext] h6 {
  text-align: start;
  margin: 0 0 0.5em;
}
[data-ui-markdown] h1,
[data-ui-richtext] h1 {
  font-size: 1.7em !important;
  font-weight: 600;
}
[data-ui-markdown] h2,
[data-ui-richtext] h2 {
  font-size: 1.5em !important;
  font-weight: 500;
}
[data-ui-markdown] h3,
[data-ui-richtext] h3 {
  font-size: 1.2em !important;
}
[data-ui-markdown] h4,
[data-ui-richtext] h4 {
  font-size: 1.1em !important;
}
[data-ui-markdown] h5,
[data-ui-richtext] h5 {
  font-size: 1em !important;
}
[data-ui-markdown] h6,
[data-ui-richtext] h6 {
  font-size: 0.85em !important;
}
[data-ui-markdown] p,
[data-ui-richtext] p,
[data-ui-markdown] pre,
[data-ui-richtext] pre,
[data-ui-markdown] blockquote,
[data-ui-richtext] blockquote {
  margin: 0 0 1.1em;
}
[data-ui-markdown] p:last-child,
[data-ui-richtext] p:last-child {
  margin: 0;
}
[data-ui-markdown] pre code.hljs,
[data-ui-richtext] pre code.hljs {
  background-color: #f5f5f5;
}
[data-ui-markdown] blockquote,
[data-ui-richtext] blockquote {
  border-left-width: 10px;
  background-color: rgba(128, 128, 128, 0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
  font-size: 1em;
  border-left: 5px solid #888888;
}
[data-ui-markdown] table,
[data-ui-richtext] table {
  width: 100%;
}
[data-ui-markdown] table th,
[data-ui-richtext] table th {
  font-size: 13px;
  font-weight: 700;
  color: #555;
  background-color: #f7f7f7;
}
[data-ui-markdown] table td,
[data-ui-richtext] table td,
[data-ui-markdown] table th,
[data-ui-richtext] table th {
  border: 1px solid #d7d7d7 !important;
  padding: 6px;
}
[data-ui-markdown] dt,
[data-ui-richtext] dt,
[data-ui-markdown] dd,
[data-ui-richtext] dd {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.45;
}
[data-ui-markdown] dt,
[data-ui-richtext] dt {
  font-weight: bold;
}
[data-ui-markdown] dd,
[data-ui-richtext] dd {
  margin-left: 40px;
}
[data-ui-markdown] pre,
[data-ui-richtext] pre {
  text-align: start;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
}
[data-ui-markdown] pre code,
[data-ui-richtext] pre code {
  white-space: pre !important;
}
[data-ui-markdown] blockquote ul:last-child,
[data-ui-richtext] blockquote ul:last-child,
[data-ui-markdown] blockquote ol:last-child,
[data-ui-richtext] blockquote ol:last-child {
  margin-bottom: 0px;
}
[data-ui-markdown] ul,
[data-ui-richtext] ul,
[data-ui-markdown] ol,
[data-ui-richtext] ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}
[data-ui-markdown] ul li p,
[data-ui-richtext] ul li p,
[data-ui-markdown] ol li p,
[data-ui-richtext] ol li p {
  overflow: visible !important;
}
[data-ui-markdown] .footnote,
[data-ui-richtext] .footnote {
  vertical-align: top;
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}
[data-ui-markdown] .emoji,
[data-ui-richtext] .emoji {
  width: 16px;
}
[data-ui-markdown] a.not-found,
[data-ui-richtext] a.not-found {
  color: #fdd198;
}
[data-ui-markdown] li,
[data-ui-richtext] li {
  border: 0 !important;
  background-color: transparent !important;
  padding: 0;
}
[data-ui-markdown] img,
[data-ui-richtext] img {
  max-width: 100%;
}
blockquote {
  border-left: 2px dotted #888;
  padding-left: 5px;
  background: #d0f0ff;
}
.wmd-panel {
  min-width: 500px;
}
.wmd-button-bar {
  width: 100%;
  background-color: Silver;
}
.wmd-input {
  height: 300px;
  width: 100%;
  background-color: Gainsboro;
  border: 1px solid DarkGray;
}
.wmd-button-row {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}
.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}
.wmd-button {
  width: 20px;
  height: 20px;
  padding-left: 2px;
  padding-right: 3px;
  position: absolute;
  display: inline-block;
  list-style: none;
  cursor: pointer;
}
.wmd-button > span {
  background-image: url(../img/wmd-buttons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.wmd-spacer1 {
  left: 50px;
}
.wmd-spacer2 {
  left: 175px;
}
.wmd-spacer3 {
  left: 300px;
}
.wmd-prompt-background {
  background-color: Black;
}
.wmd-prompt-dialog {
  border: 1px solid #999999;
  background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
  border: 1px solid #999999;
  color: black;
}
.wmd-prompt-dialog > form > input[type="button"] {
  border: 1px solid #888888;
  font-family: trebuchet MS, helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}
@media (max-width: 991px) {
  .layout-sidebar-container {
    display: none;
  }
}
.ui-widget-header {
  border: none !important;
  background: #fff !important;
  color: #7a7a7a !important;
  font-weight: 300 !important;
}
.ui-widget-content {
  border: 1px solid #dddcda !important;
  border-radius: 0 !important;
  background: #fff;
  color: #555 !important;
  -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  opacity: 0.2;
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  background: #fff !important;
  border: none;
  margin: 1px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none !important;
  background: #f7f7f7 !important;
  color: #7a7a7a !important;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: none !important;
  border: 1px solid #b2b2b2 !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #6fdbe8 !important;
  background: #ddf6fa !important;
}
.status-bar-body {
  color: white;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 20px;
  z-index: 9999999;
  bottom: 0px;
  display: block;
  line-height: 20px;
}
.status-bar-close {
  color: white;
  fonfont-weight: bold;
  font-size: 21px;
  cursor: pointer;
}
.status-bar-close:hover {
  color: white;
}
.status-bar-close i {
  vertical-align: top !important;
  padding-top: 3px;
}
.status-bar-content i {
  margin-right: 10px;
  font-size: 21px;
  vertical-align: middle;
}
.status-bar-content .showMore {
  color: #6fdbe8;
  float: right;
  margin-left: 10px;
  font-size: 0.7em;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
}
.status-bar-content .status-bar-details {
  text-align: left;
  font-size: 0.7em;
  margin-top: 20px;
  max-height: 200px;
  overflow: auto;
}
.status-bar-content span {
  vertical-align: middle;
}
.status-bar-content i.error,
.status-bar-content i.fatal {
  color: #ff8989;
}
.status-bar-content i.warning {
  color: #fdd198;
}
.status-bar-content i.info,
.status-bar-content i.debug {
  color: #6fdbe8;
}
.status-bar-content i.success {
  color: #85CA2B;
}
.highlight {
  background-color: #fff8e0;
}
.alert-default {
  color: #555;
  background-color: #f7f7f7;
  border-color: #ededed;
  font-size: 13px;
}
.alert-default .info {
  margin: 10px 0;
}
.alert-success {
  color: #84be5e;
  background-color: #f7fbf4;
  border-color: #97d271;
}
.alert-warning {
  color: #e9b168;
  background-color: #fffbf7;
  border-color: #fdd198;
}
.alert-danger {
  color: #ff8989;
  background-color: #fff6f6;
  border-color: #ff8989;
}
.data-saved {
  padding-left: 10px;
  color: #6fdbe8;
}
img.bounceIn {
  -webkit-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  animation-duration: 800ms;
}
.tags .tag {
  margin-top: 5px;
  border-radius: 2px;
  padding: 4px 8px;
  text-transform: uppercase;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProsemirrorEditor.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}
.ProsemirrorEditor.fullscreen .ProseMirror-menubar-wrapper {
  height: 100%;
}
.ProsemirrorEditor.fullscreen .humhub-ui-richtext {
  max-height: none !important;
}
.ProsemirrorEditor.fullscreen .ProseMirror {
  position: static;
  overflow: auto;
  heigh: 100%;
  height: calc(100% - 26px);
  height: -o-calc(100% - 26px);
  /* opera */
  height: -webkit-calc(100% - 26px);
  /* google, safari */
}
.ProsemirrorEditor.fullscreen .ProseMirror-menubar {
  position: static !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}
/**
 * Menu defaults
 */
.ProsemirrorEditor .ProseMirror {
  padding-right: 12px;
}
.ProsemirrorEditor .ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}
.ProsemirrorEditor .ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}
.ProsemirrorEditor .ProseMirror-menuitem {
  margin-right: 0;
  display: inline-block;
}
.ProsemirrorEditor .ProseMirror-menuseparator {
  border-right: 1px solid #ddd;
  margin-right: 3px;
}
.ProsemirrorEditor .ProseMirror-menuitem .ProseMirror-menu-group {
  border-right: 1px solid #ddd;
}
.ProsemirrorEditor .ProseMirror-menuitem .ProseMirror-menu-group.last {
  border-right: none;
}
.ProsemirrorEditor .ProseMirror-menuitem .seperator {
  border-right: 1px solid #ddd;
  margin-right: 2px;
  padding-right: 2px;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown,
.ProsemirrorEditor .ProseMirror-menu-dropdown-menu {
  font-size: 90%;
  white-space: nowrap;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown {
  cursor: pointer;
  position: relative;
  padding-right: 15px !important;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-wrap {
  padding: 1px 0 1px 0;
  display: inline-block;
  position: relative;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-right {
  right: 0;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown:after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 2px);
}
.ProsemirrorEditor .ProseMirror-menu-submenu {
  border-top-right-radius: 4px;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-menu,
.ProsemirrorEditor .ProseMirror-menu-submenu {
  position: absolute;
  background: white;
  color: #666;
  border: 1px solid #aaa;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-menu {
  z-index: 15;
  min-width: 6em;
  margin-top: 2px;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-item {
  cursor: pointer;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-item div[title],
.ProsemirrorEditor .ProseMirror-menu-submenu-wrap {
  padding: 4px;
}
.ProsemirrorEditor .ProseMirror-menu-dropdown-item:hover {
  background: #f2f2f2;
}
.ProsemirrorEditor .ProseMirror-menu-submenu-wrap {
  position: relative;
}
.ProsemirrorEditor .ProseMirror-menu-submenu-label:after {
  content: "";
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid currentColor;
  opacity: 0.6;
  position: absolute;
  right: 4px;
  top: calc(50% - 4px);
}
.ProsemirrorEditor .ProseMirror-menu-submenu {
  display: none;
  min-width: 4em;
  left: 100%;
  top: 0;
}
.ProsemirrorEditor .ProseMirror-menu-active {
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ededed !important;
}
.ProsemirrorEditor .ProseMirror-menu-disabled {
  opacity: 0.3;
}
.ProsemirrorEditor .ProseMirror-menu-submenu-wrap:hover .ProseMirror-menu-submenu,
.ProsemirrorEditor .ProseMirror-menu-submenu-wrap-active .ProseMirror-menu-submenu {
  display: block;
}
.ProsemirrorEditor .ProseMirror-icon {
  display: inline-block;
  line-height: 0.8;
  vertical-align: -2px;
  /* Compensate for padding */
  padding: 1px 7px;
  cursor: pointer;
  border: 1px solid transparent;
}
.ProsemirrorEditor .ProseMirror-menu-disabled.ProseMirror-icon {
  cursor: default;
}
.ProsemirrorEditor .ProseMirror-icon svg {
  fill: currentColor;
  height: 1em;
}
.ProsemirrorEditor .ProseMirror-icon span {
  vertical-align: text-top;
}
/**
 * Static plain editor style
 */
.ProsemirrorEditor.plainMenu .ProseMirror {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-width: 1px !important;
  min-height: 100px;
}
.ProsemirrorEditor.plainMenu .ProseMirror-menu-group {
  padding: 5px;
}
.ProsemirrorEditor.plainMenu .ProseMirror-menuitem .ProseMirror-menu-group {
  padding: 2px;
}
.ProsemirrorEditor.plainMenu .ProseMirror-menubar ~ .ProseMirror-focused {
  border-color: #6fdbe8 !important;
}
.ProsemirrorEditor.plainMenu .ProseMirror-textblock-dropdown {
  min-width: 3em;
}
.ProsemirrorEditor.plainMenu .ProseMirror-menubar-wrapper {
  z-index: 8;
}
.ProsemirrorEditor.plainMenu .ProseMirror-menubar {
  background-color: #f7f7f7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #ddd;
  position: relative;
  min-height: 1em;
  color: #666;
  padding: 1px 6px 1px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
}
/**
 * Editor style attached at the top of input only visible on focus
 */
.ProsemirrorEditor.focusMenu .form-control:focus {
  border-top-left-radius: 0 !important;
}
.ProsemirrorEditor.focusMenu .ProseMirror-menubar {
  display: table;
  min-height: 1em;
  color: #666;
  padding: 2px 6px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: visible;
  margin-top: -26px;
  background: white;
  border: 1px solid #d7d7d7;
  border-bottom: 0;
  border-top: 2px solid #d7d7d7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  float: left;
}
@-moz-document url-prefix() {
  .ProsemirrorEditor.focusMenu .ProseMirror-menubar {
    margin-top: -27px;
  }
}
.ProsemirrorEditor {
  /* Make sure li selections wrap around markers */
  /* Add space around the hr to make clicking it easier */
  /* Give selected cells a blue overlay */
}
.ProsemirrorEditor .ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}
.ProsemirrorEditor .ProseMirror ul,
.ProsemirrorEditor .ProseMirror ol {
  cursor: default;
}
.ProsemirrorEditor .ProseMirror pre {
  white-space: pre-wrap;
}
.ProsemirrorEditor .ProseMirror li {
  position: relative;
}
.ProsemirrorEditor .ProseMirror img {
  max-width: 100%;
}
.ProsemirrorEditor .ProseMirror-hideselection *::selection {
  background: transparent;
}
.ProsemirrorEditor .ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}
.ProsemirrorEditor .ProseMirror-selectednode {
  outline: 2px dashed #8cf;
}
.ProsemirrorEditor li.ProseMirror-selectednode {
  outline: none;
}
.ProsemirrorEditor li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}
.ProsemirrorEditor .ProseMirror-textblock-dropdown {
  min-width: 3em;
}
.ProsemirrorEditor .ProseMirror-menu {
  margin: 0 -4px;
  line-height: 1;
}
.ProsemirrorEditor .ProseMirror-tooltip .ProseMirror-menu {
  width: -webkit-fit-content;
  width: fit-content;
  white-space: pre;
}
.ProsemirrorEditor .ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}
.ProsemirrorEditor .ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid black;
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}
@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}
.ProsemirrorEditor .ProseMirror-focused .ProseMirror-gapcursor {
  display: block;
}
.ProsemirrorEditor .ProseMirror-example-setup-style hr {
  padding: 2px 10px;
  border: none;
  margin: 1em 0;
}
.ProsemirrorEditor .ProseMirror-example-setup-style hr:after {
  content: "";
  display: block;
  height: 1px;
  background-color: silver;
  line-height: 2px;
}
.ProsemirrorEditor .ProseMirror ul,
.ProsemirrorEditor .ProseMirror ol {
  padding-left: 30px;
}
.ProsemirrorEditor .ProseMirror blockquote {
  padding-left: 1em;
  border-left: 3px solid #eee;
  margin-left: 0;
  margin-right: 0;
}
.ProsemirrorEditor .ProseMirror-example-setup-style img {
  cursor: default;
}
.ProsemirrorEditor .ProseMirror p {
  margin-top: 1em;
}
.ProsemirrorEditor .ProseMirror p:first-child {
  margin: 0px;
}
.ProsemirrorEditor .ProseMirror p:first-child + * {
  margin-top: 1em;
}
.ProsemirrorEditor .ProsemirrorEditor {
  position: relative;
}
.ProsemirrorEditor .ProsemirrorEditor .ProseMirror {
  padding-right: 12px !important;
}
.ProsemirrorEditor .ProsemirrorEditor img {
  max-width: 100%;
}
.ProsemirrorEditor .ProseMirror h1:first-child,
.ProsemirrorEditor .ProseMirror h2:first-child,
.ProsemirrorEditor .ProseMirror h3:first-child,
.ProsemirrorEditor .ProseMirror h4:first-child,
.ProsemirrorEditor .ProseMirror h5:first-child,
.ProsemirrorEditor .ProseMirror h6:first-child {
  margin-top: 10px;
}
.ProsemirrorEditor .ProseMirror [data-mention] {
  color: #6fdbe8;
}
.ProsemirrorEditor .ProseMirror {
  outline: none;
}
.ProsemirrorEditor .ProseMirror [data-oembed] {
  font-size: 0;
}
.ProsemirrorEditor .ProseMirror iframe {
  pointer-events: none;
  display: block;
}
.ProsemirrorEditor .ProseMirror p {
  margin-bottom: 1em;
}
.ProsemirrorEditor .ProseMirror-textblock-dropdown {
  min-width: 3em;
}
.ProsemirrorEditor .ProseMirror .placeholder {
  padding: 0px !important;
  pointer-events: none;
  height: 0;
}
.ProsemirrorEditor .ProseMirror:focus .placeholder {
  display: none;
}
.ProsemirrorEditor .ProseMirror .tableWrapper {
  overflow-x: auto;
}
.ProsemirrorEditor .ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: #adf;
  pointer-events: none;
}
.ProsemirrorEditor .ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
.ProsemirrorEditor .ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
.ProsemirrorEditor .ProseMirror-menubar-wrapper {
  position: relative;
  outline: none;
}
.ProsemirrorEditor .ProseMirror table {
  margin: 0;
}
.ProsemirrorEditor .ProseMirror .tableWrapper {
  margin: 1em 0;
}
.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  min-width: 300px;
  z-index: 999999;
  box-shadow: -0.5px 2px 5px rgba(0, 0, 0, 0.2);
}
.ProseMirror-prompt h5 {
  font-weight: bold;
  font-size: 100%;
  margin: 15px 0;
}
.ProseMirror-prompt input {
  margin-bottom: 5px;
}
.ProseMirror-prompt-close {
  position: absolute;
  left: 2px;
  top: 1px;
  color: #666;
  border: none;
  background: transparent;
  padding: 0;
}
.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}
.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}
.ProseMirror-prompt-buttons {
  margin: 15px 0;
  text-align: center;
}
.atwho-view .cur {
  border-left: 3px solid #59d6e4;
  background-color: #f7f7f7 !important;
}
.atwho-user,
.atwho-space,
.atwho-input a {
  color: #59d6e4;
}
.atwho-input a:hover {
  color: #59d6e4;
}
.atwho-view strong {
  background-color: #f9f0d2;
}
.atwho-view .cur strong {
  background-color: #f9f0d2;
}
[data-emoji-category] {
  max-height: 200px;
  display: block;
  position: relative;
  overflow: auto;
}
[data-emoji-category] .atwho-emoji-entry {
  width: 24px;
  height: 28px;
  overflow: hidden;
}
[data-emoji-category] .atwho-emoji-entry.cur {
  background-color: #ededed !important;
}
.emoji-nav {
  padding-top: 10px;
}
.emoji-nav .emoji-nav-item {
  border-top: 2px solid #fff8e0;
}
.emoji-nav .emoji-nav-item.cur {
  border-left: 0px;
  border-top: 2px solid #6fdbe8;
}
@media screen and (max-width: 768px) {
  .ProsemirrorEditor.focusMenu .ProseMirror-menubar {
    min-height: 1em;
  }
}
/*! Select2 humhub Theme v0.1.0-beta.4 | MIT License | github.com/select2/select2-humhub-theme */
.select2-container--humhub {
  display: block;
  /*------------------------------------*\
            #COMMON STYLES
    \*------------------------------------*/
  /**
     * Search field in the Select2 dropdown.
     */
  /**
     * No outline for all search fields - in the dropdown
     * and inline in multi Select2s.
     */
  /**
     * Adjust Select2's choices hover and selected styles to match
     * humhub 3's default dropdown styles.
     *
     * @see http://gethumhub.com/components/#dropdowns
     */
  /**
     * Clear the selection.
     */
  /**
     * Address disabled Select2 styles.
     *
     * @see https://select2.github.io/examples.html#disabled
     * @see http://gethumhub.com/css/#forms-control-disabled
     */
  /*------------------------------------*\
            #DROPDOWN
    \*------------------------------------*/
  /**
     * Dropdown border color and box-shadow.
     */
  /**
     * Limit the dropdown height.
     */
  /*------------------------------------*\
            #SINGLE SELECT2
    \*------------------------------------*/
  /*------------------------------------*\
        #MULTIPLE SELECT2
    \*------------------------------------*/
  /**
     * Address humhub control sizing classes
     *
     * 1. Reset humhub defaults.
     * 2. Adjust the dropdown arrow button icon position.
     *
     * @see http://gethumhub.com/css/#forms-control-sizes
     */
  /* 1 */
  /*------------------------------------*\
        #RTL SUPPORT
    \*------------------------------------*/
}
.select2-container--humhub .select2-selection {
  background-color: #fff;
  border: 2px solid #ededed;
  border-radius: 4px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  outline: 0;
}
.select2-container--humhub .select2-search--dropdown .select2-search__field {
  background-color: #fff;
  border: 2px solid #ededed;
  border-radius: 4px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.select2-container--humhub .select2-search__field {
  outline: 0;
  /* Firefox 18- */
  /**
         * Firefox 19+
         *
         * @see http://stackoverflow.com/questions/24236240/color-for-styled-placeholder-text-is-muted-in-firefox
         */
}
.select2-container--humhub .select2-search__field::-webkit-input-placeholder {
  color: #999;
}
.select2-container--humhub .select2-search__field:-moz-placeholder {
  color: #999;
}
.select2-container--humhub .select2-search__field::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.select2-container--humhub .select2-search__field:-ms-input-placeholder {
  color: #999;
}
.select2-container--humhub .select2-results__option {
  /**
         * Disabled results.
         *
         * @see https://select2.github.io/examples.html#disabled-results
         */
  /**
         * Hover state.
         */
  /**
         * Selected state.
         */
}
.select2-container--humhub .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--humhub .select2-results__option[aria-disabled=true] {
  color: #777777;
  cursor: not-allowed;
}
.select2-container--humhub .select2-results__option[aria-selected=true] {
  background-color: #f5f5f5;
  color: #262626;
  border-left: 3px solid transparent;
}
.select2-container--humhub .select2-results__option[aria-selected=false] {
  border-left: 3px solid transparent;
}
.select2-container--humhub .select2-results__option--highlighted[aria-selected] {
  background-color: #f7f7f7;
  border-left: 3px solid #6fdbe8;
  color: #555;
}
.select2-container--humhub .select2-results__option .select2-results__option {
  padding: 6px 12px;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -12px;
  padding-left: 24px;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -24px;
  padding-left: 36px;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -36px;
  padding-left: 48px;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -48px;
  padding-left: 60px;
}
.select2-container--humhub .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -60px;
  padding-left: 72px;
}
.select2-container--humhub .select2-results__group {
  color: #777777;
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  white-space: nowrap;
}
.select2-container--humhub.select2-container--focus .select2-selection,
.select2-container--humhub.select2-container--open .select2-selection {
  border: 2px solid #6fdbe8;
  outline: 0;
  box-shadow: none;
}
.select2-container--humhub.select2-container--open {
  /**
         * Make the dropdown arrow point up while the dropdown is visible.
         */
  /**
         * Handle border radii of the container when the dropdown is showing.
         */
}
.select2-container--humhub.select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 4px 4px 4px;
}
.select2-container--humhub .select2-selection__clear {
  color: #999;
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-right: 10px;
}
.select2-container--humhub .select2-selection__clear:hover {
  color: #333;
}
.select2-container--humhub.select2-container--disabled .select2-selection {
  border-color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container--humhub.select2-container--disabled .select2-selection,
.select2-container--humhub.select2-container--disabled .select2-search__field {
  cursor: not-allowed;
}
.select2-container--humhub.select2-container--disabled .select2-selection,
.select2-container--humhub.select2-container--disabled .select2-selection--multiple .select2-selection__choice {
  background-color: #eeeeee;
}
.select2-container--humhub.select2-container--disabled .select2-selection__clear,
.select2-container--humhub.select2-container--disabled .select2-selection--multiple .select2-selection__choice__remove {
  display: none;
}
.select2-container--humhub .select2-dropdown {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-color: #d7d7d7;
  overflow-x: hidden;
  margin-top: -1px;
}
.select2-container--humhub .select2-dropdown--above {
  margin-top: 1px;
}
.select2-container--humhub .select2-results > .select2-results__options {
  max-height: 400px;
  overflow-y: auto;
}
.select2-container--humhub .select2-selection--single {
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 24px 6px 12px;
  /**
         * Adjust the single Select2's dropdown arrow button appearance.
         */
}
.select2-container--humhub .select2-selection--single .select2-selection__arrow {
  position: absolute;
  bottom: 0;
  right: 12px;
  top: 0;
  width: 4px;
}
.select2-container--humhub .select2-selection--single .select2-selection__arrow b {
  border-color: #999 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  height: 0;
  left: 0;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--humhub .select2-selection--single .select2-selection__rendered {
  color: #555555;
  padding: 0;
}
.select2-container--humhub .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--humhub .select2-selection--multiple {
  min-height: 34px;
  padding: 2px;
  /**
         * Make Multi Select2's choices match humhub 3's default button styles.
         */
  /**
         * Minus 2px borders.
         */
  /**
         * Clear the selection.
         */
}
.select2-container--humhub .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  display: block;
  line-height: 1.42857143;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  float: left;
  margin-top: 5px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice {
  color: #555555;
  border-radius: 4px;
  cursor: default;
  padding: 0 6px;
  background-color: #6fdbe8;
  color: #fff;
  border-radius: 3px;
  font-size: 12px !important;
  padding: 0 5px 2px 2px;
  float: left;
  margin: 2px;
  height: 28px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice img,
.select2-container--humhub .select2-selection--multiple .select2-selection__choice div {
  margin-right: 5px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice span.no-image {
  line-height: 27px;
  padding-left: 5px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice i {
  margin: 0px 2px;
  line-height: 27px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice .picker-close {
  cursor: pointer;
}
.select2-container--humhub .select2-selection--multiple .select2-search--inline .select2-search__field {
  background: transparent;
  padding: 0 5px;
  width: auto !important;
  height: 32px;
  line-height: 1.42857143;
  margin-top: 0;
  min-width: 5em;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: none;
  font-weight: bold;
  margin-right: 3px;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--humhub .select2-selection--multiple .select2-selection__clear {
  margin-top: 6px;
}
.select2-container--humhub.input-sm,
.select2-container--humhub.input-lg {
  border-radius: 0;
  font-size: 12px;
  height: auto;
  line-height: 1;
  padding: 0;
}
.select2-container--humhub.input-sm .select2-selection--single,
.input-group-sm .select2-container--humhub .select2-selection--single,
.form-group-sm .select2-container--humhub .select2-selection--single {
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  line-height: 1.5;
  padding: 5px 22px 5px 10px;
  /* 2 */
}
.select2-container--humhub.input-sm .select2-selection--single .select2-selection__arrow b,
.input-group-sm .select2-container--humhub .select2-selection--single .select2-selection__arrow b,
.form-group-sm .select2-container--humhub .select2-selection--single .select2-selection__arrow b {
  margin-left: -5px;
}
.select2-container--humhub.input-sm .select2-selection--multiple,
.input-group-sm .select2-container--humhub .select2-selection--multiple,
.form-group-sm .select2-container--humhub .select2-selection--multiple {
  min-height: 30px;
}
.select2-container--humhub.input-sm .select2-selection--multiple .select2-selection__choice,
.input-group-sm .select2-container--humhub .select2-selection--multiple .select2-selection__choice,
.form-group-sm .select2-container--humhub .select2-selection--multiple .select2-selection__choice {
  font-size: 12px;
  line-height: 1.5;
  margin: 4px 0 0 5px;
  padding: 0 5px;
}
.select2-container--humhub.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-sm .select2-container--humhub .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-sm .select2-container--humhub .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0 10px;
  font-size: 12px;
  height: 28px;
  line-height: 1.5;
}
.select2-container--humhub.input-sm .select2-selection--multiple .select2-selection__clear,
.input-group-sm .select2-container--humhub .select2-selection--multiple .select2-selection__clear,
.form-group-sm .select2-container--humhub .select2-selection--multiple .select2-selection__clear {
  margin-top: 5px;
}
.select2-container--humhub.input-lg .select2-selection--single,
.input-group-lg .select2-container--humhub .select2-selection--single,
.form-group-lg .select2-container--humhub .select2-selection--single {
  border-radius: 6px;
  font-size: 18px;
  height: 46px;
  line-height: 1.3333333;
  padding: 10px 31px 10px 16px;
  /* 1 */
}
.select2-container--humhub.input-lg .select2-selection--single .select2-selection__arrow,
.input-group-lg .select2-container--humhub .select2-selection--single .select2-selection__arrow,
.form-group-lg .select2-container--humhub .select2-selection--single .select2-selection__arrow {
  width: 5px;
}
.select2-container--humhub.input-lg .select2-selection--single .select2-selection__arrow b,
.input-group-lg .select2-container--humhub .select2-selection--single .select2-selection__arrow b,
.form-group-lg .select2-container--humhub .select2-selection--single .select2-selection__arrow b {
  border-width: 5px 5px 0 5px;
  margin-left: -5px;
  margin-left: -10px;
  margin-top: -2.5px;
}
.select2-container--humhub.input-lg .select2-selection--multiple,
.input-group-lg .select2-container--humhub .select2-selection--multiple,
.form-group-lg .select2-container--humhub .select2-selection--multiple {
  min-height: 46px;
}
.select2-container--humhub.input-lg .select2-selection--multiple .select2-selection__choice,
.input-group-lg .select2-container--humhub .select2-selection--multiple .select2-selection__choice,
.form-group-lg .select2-container--humhub .select2-selection--multiple .select2-selection__choice {
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 4px;
  margin: 9px 0 0 8px;
  padding: 0 10px;
}
.select2-container--humhub.input-lg .select2-selection--multiple .select2-search--inline .select2-search__field,
.input-group-lg .select2-container--humhub .select2-selection--multiple .select2-search--inline .select2-search__field,
.form-group-lg .select2-container--humhub .select2-selection--multiple .select2-search--inline .select2-search__field {
  padding: 0 16px;
  font-size: 18px;
  height: 44px;
  line-height: 1.3333333;
}
.select2-container--humhub.input-lg .select2-selection--multiple .select2-selection__clear,
.input-group-lg .select2-container--humhub .select2-selection--multiple .select2-selection__clear,
.form-group-lg .select2-container--humhub .select2-selection--multiple .select2-selection__clear {
  margin-top: 10px;
}
.select2-container--humhub.input-lg.select2-container--open .select2-selection--single {
  /**
         * Make the dropdown arrow point up while the dropdown is visible.
         */
}
.select2-container--humhub.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 5px 5px 5px;
}
.input-group-lg .select2-container--humhub.select2-container--open .select2-selection--single {
  /**
         * Make the dropdown arrow point up while the dropdown is visible.
         */
}
.input-group-lg .select2-container--humhub.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #999 transparent;
  border-width: 0 5px 5px 5px;
}
.select2-container--humhub[dir="rtl"] {
  /**
         * Single Select2
         *
         * 1. Makes sure that .select2-selection__placeholder is positioned
         *    correctly.
         */
  /**
         * Multiple Select2
         */
}
.select2-container--humhub[dir="rtl"] .select2-selection--single {
  padding-left: 24px;
  padding-right: 12px;
}
.select2-container--humhub[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
  /* 1 */
}
.select2-container--humhub[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
.select2-container--humhub[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 12px;
  right: auto;
}
.select2-container--humhub[dir="rtl"] .select2-selection--single .select2-selection__arrow b {
  margin-left: 0;
}
.select2-container--humhub[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
.select2-container--humhub[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
.select2-container--humhub[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 0;
  margin-right: 6px;
}
.select2-container--humhub[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}
/*------------------------------------*\
    #ADDITIONAL GOODIES
\*------------------------------------*/
/**
 * Address humhub's validation states
 *
 * If a Select2 widget parent has one of humhub's validation state modifier
 * classes, adjust Select2's border colors and focus states accordingly.
 * You may apply said classes to the Select2 dropdown (body > .select2-container)
 * via JavaScript match humhubs' to make its styles match.
 *
 * @see http://gethumhub.com/css/#forms-control-validation
 */
.has-warning .select2-dropdown,
.has-warning .select2-selection {
  border-color: #fdd198;
}
.has-warning .select2-container--focus .select2-selection,
.has-warning .select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fffefc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fffefc;
  border-color: #fcbb66;
}
.has-warning.select2-drop-active {
  border-color: #fcbb66;
}
.has-warning.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #fcbb66;
}
.has-error .select2-dropdown,
.has-error .select2-selection {
  border-color: #ff8989;
}
.has-error .select2-container--focus .select2-selection,
.has-error .select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffefef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffefef;
  border-color: #ff5656;
}
.has-error.select2-drop-active {
  border-color: #ff5656;
}
.has-error.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #ff5656;
}
.has-success .select2-dropdown,
.has-success .select2-selection {
  border-color: #97d271;
}
.has-success .select2-container--focus .select2-selection,
.has-success .select2-container--open .select2-selection {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d0ebbe;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d0ebbe;
  border-color: #7bc64a;
}
.has-success.select2-drop-active {
  border-color: #7bc64a;
}
.has-success.select2-drop-active.select2-drop.select2-drop-above {
  border-top-color: #7bc64a;
}
/**
 * Select2 widgets in humhub Input Groups
 *
 * When Select2 widgets are combined with other elements using humhubs
 * "Input Group" component, we don't want specific edges of the Select2
 * container to have a border-radius.
 *
 * Use .select2-humhub-prepend and .select2-humhub-append on
 * a humhub 3 .input-group to let the contained Select2 widget know which
 * edges should not be rounded as they are directly followed by another element.
 *
 * @see http://gethumhub.com/components/#input-groups
 */
/**
 * Mimick humhubs .input-group .form-control styles.
 *
 * @see https://github.com/twbs/humhub/blob/master/less/input-groups.less
 */
.input-group .select2-container--humhub {
  display: table;
  table-layout: fixed;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group.select2-humhub-prepend .select2-container--humhub .select2-selection {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group.select2-humhub-append .select2-container--humhub .select2-selection {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/**
 * Adjust alignment of humhub buttons in humhub Input Groups to address
 * Multi Select2's height which - depending on how many elements have been selected -
 * may grow taller than its initial size.
 *
 * @see http://gethumhub.com/components/#input-groups
 */
.select2-humhub-append .select2-container--humhub,
.select2-humhub-prepend .select2-container--humhub,
.select2-humhub-append .input-group-btn,
.select2-humhub-prepend .input-group-btn,
.select2-humhub-append .input-group-btn .btn,
.select2-humhub-prepend .input-group-btn .btn {
  vertical-align: top;
}
/**
 * Temporary fix for https://github.com/select2/select2-humhub-theme/issues/9
 *
 * Provides `!important` for certain properties of the class applied to the
 * original `<select>` element to hide it.
 *
 * @see https://github.com/select2/select2/pull/3301
 * @see https://github.com/fk/select2/commit/31830c7b32cb3d8e1b12d5b434dee40a6e753ada
 */
.form-control.select2-hidden-accessible {
  position: absolute !important;
  width: 1px !important;
}
/**
 * Display override for inline forms
*/
.form-inline .select2-container--humhub {
  display: inline-block;
}
ul.tag_input {
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding: 0 0 9px 4px;
}
ul.tag_input li img {
  margin: 0 5px 0 0;
}
.tag_input_field {
  outline: none;
  border: none !important;
  padding: 5px 4px 0 !important;
  width: 170px;
  margin: 2px 0 0 !important;
}
.userInput,
.spaceInput {
  background-color: #6fdbe8;
  font-weight: 600;
  color: #fff;
  border-radius: 3px;
  font-size: 12px !important;
  padding: 2px;
  float: left;
  margin: 3px 4px 0 0;
}
.userInput i,
.spaceInput i {
  padding: 0 6px;
  font-size: 14px;
  cursor: pointer;
  line-height: 8px;
}
/**
 * Define or overwrite your theme variables here.
 *
 * Check for @humhub/static/less/variables.less file for all available variables.
 * 
 * You can also access your variables within your view files by calling Yii::$app->view->theme->variable('myVariable');
 *
 * You can disable the import of humhub theme components by using variables of the format @prev-{component} e.g.:
 * This will prevent comment.less component from beeing imported.
 * e.g.:
 * @prev-comment: true;
 *
**/
/**
 * Define your mixins within this file.
**/
/**
 * Define or overwrite your theme selectors within this file.
**/
