/*
 * @link https://www.humhub.org/
 * @copyright Copyright (c) 2018 HumHub GmbH & Co. KG
 * @license https://www.humhub.com/licences
 *
 */

#task-assignment-info {
  margin: 5px 0px 0px;
}


#task-container {

  .task-head {
    padding-left:5px;
  }

  .panel-heading {
    background-color: #f7f7f7;

    .task-header-panel {
      padding-right: 10px;
      float:left;

      border-right:2px solid #ededed;
      padding-left:10px;

      strong {
        font-size: 13px;
      }
    }

    .task-header-panel:last-child {
      border-right:0;
    }

    .task-header-panel:first-child {
      padding-left:0;
    }

    .col-sm-12 {
      overflow:visible;
    }

    .task-change-state-button {
      margin-top:20px;
    }

    .assigned-anyone {
      font-size: 14px;
      font-style: italic;
      margin: 2px;
      color: #7a7a7a;
    }
  }

  .panel-heading .media {
    .updated {
      color: #bebebe;
      font-size: 11px;
      font-weight: bold;
    }
    .author a {
      color: #bebebe;
      font-size: 11px;
    }
  }
}

.task-overview {

  #filter-tasks-list {
    .empty {
      margin:15px 0;
    }

    .media-list {
      margin-bottom:0;
      li:last-of-type {
        border-bottom:0;
      }
    }
  }

  border-top:1px solid #ddd;

  li {
    cursor: pointer;
  }

  li:last-child {
    border-bottom: 0;
  }

  .media-list {

    .progress {
      margin-top: 2px;
      margin-bottom: 3px;
    }

    .summary, .empty {
      font-size: 12px;
      color: #bac2c7;
      padding-left: 10px;
    }

    .pagination {
      margin-bottom: 0;
      li {
        border: 0;
        padding: 0;
      }

      li:hover {
        border: 0;
      }
    }
  }

  #task-filter-nav {

    padding:10px;

    .task-title-filter {
      .form-group {
        margin-bottom:5px;
      }
    }

    .filter-root {
      margin:0;
      padding:5px;

      .filterInput {
        font-size:13px;
        margin:5px;
      }
    }

    .filter-panel {
      vertical-align: top;
      width: auto !important;
    }

    .task-filter-picker-container {
      width:200px;
    }

    #task-filter-loader {
      padding-top: 12px;
    }

    .task-bottom-panel {
      .filterInput {
        margin: 5px;
      }
      .filterInput.task-date-picker {
        margin: 0;
        height: 45px;
      }
    }

    .select2 {
      width: 260px !important;
      display: inline-block;
    }

    .dropdown-filter {
      display:inline-block;

      .form-group {
        margin: -7px;
        .form-control {
          //display: initial !important;
          //line-height: 16px;
          //height: auto;
          //width: 140px;
          //max-width: 200px;
          padding: 0 20px 0 8px;
          margin-left: 12px;
        }
      }
    }

    .checkbox-filter {
      display:inline-block;

      .regular-checkbox:not(:checked) + .regular-checkbox-box {
        background-color: #fff;
      }

      .form-group {
        margin: 0;
        .checkbox {
          margin: 0 !important;
        }
      }
    }
  }
}

#task-list-loader {
  float: right;
}

.task-items {
  list-style: none;
  padding: 0;
  margin: 0;
  height: auto !important;

  //.task-item {
  //  .regular-checkbox:checked + span {
  //    text-decoration: line-through;
  //  }
  //}
}

.task-details {
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 17px;
    color: #919191;
    font-weight: 300;
    margin-top: 0;
  }

  h1.task-item-title {
    font-size: 20px;
  }

  .task-item:hover {
    background: #f7f7f7;
  }

  .task-item-content {
    margin-left: 8px;
  }

  label.item-finished {
    text-decoration: line-through;
    font-style: italic;

    .regular-checkbox:checked+.regular-checkbox-box {
      border: 2px solid #bdbdbd;
      background: #bdbdbd;
    }

  }
}

.wall-entry .media .task {

  .progress {
    margin-top: 2px;
    margin-bottom: 3px;
  }
}

.task-info {
  display:inline-block;
  margin-right:10px;

  .task-info-text {
    font-size: 13px;
  }

  div {
    font-style: italic;
    padding-bottom: 2px;
    font-size: 13px;
  }
}

.wall-entry-controls, .wall-entry-controls a {
  font-size: 11px;
  color: #aeaeae !important;
}

@media (max-width: 991px) {
  .agenda-point {
    display: none !important;
  }

  .edit-link {
    display: inline-block !important;
  }

  //.task-item-container:before {
  //  display: none !important;
  //}
}

@media (max-width: 1119px) {
  //.task-item-container:before {
  //  //left: 5% !important;
  //  display: none !important;
  //}
}



.field-task-all_day label {
  padding:0 !important;
}


.closed-task-list-view  {
  li {
    border-left:0 !important;
  }

  li:hover {
    background-color: #fff8e0 !important;
    border-left:0 !important;
  }
}

.task-list {
  .toggleItems {
    font-size: 0.85em;
  }

  .fa-bars {
    color: #9b9b9b;
  }

  .task-list-title-bar.collapsable {
    cursor: pointer;
  }

  .task-list-title-bar > i:first-of-type, .task-list-item-title > i:first-of-type {
    margin-right: 10px;
  }
}

.task-list .empty, .closed-task-list-view .empty {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color:#ddd;
}

.closed-task-lists-container {

}

.task-list .panel-body {
  padding-bottom:0;
}

.task-list .pagination-container {

  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-radius: 4px;

  li {
    border:0 !important;
  }

  li:hover {
    background: transparent;
  }
}

// LIST VIEW
.task-list-container {
  border-left: 3px solid;
  border-right: 1px solid;
  border-right-color: #ddd !important;
  border-radius: 4px;
  margin-bottom:10px;

  .task-moving-handler:hover {
    cursor: pointer;
  }
}


.task-list-title-bar {
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ddd;
  background-color: #f7f7f7;
  padding: 15px;

  button {
    margin-left:5px;
  }
}

.task-list-ul {
  margin: 0;
  padding: 0;
}

.ui-sortable-helper {
  background-color:white;
  border: 1px solid #ddd;
}

.task-checklist {
  ul {
    margin-left:10px;
  }
}

#task-container {
  .task-list-task-details {
    border:0;
  }
  .task-list-task-details-body {
    padding:0;
  }
}

.task-list-items {

  min-height:20px;
  border-bottom: 1px solid #ddd;


  .task-list-item {

    .task-list-task-details {
      border-top: 1px dashed #ddd;

      .wall-entry-controls, .wall-entry-controls a {
        margin-top:0;
      }

      .task-details-body {
        margin: 10px 0;
      }

      .task-list-task-infos {
        margin-bottom:10px;
      }
    }

    .task-list-task-title-bar, .task-list-task-details {
      padding: 15px;
      cursor:pointer;
    }


    .task-list-item-title .label .regular-checkbox-box.disabled:nth-of-type(2) {
      border: none !important;
    }

    .task-list-item-title .label {
      margin-left: 10px;
    }

    .task-list-task-title-bar.highlighter {
      background-color: #fff8e0;
    }

    border-bottom: 1px solid #ddd;
  }

  .task-list-item:last-child {
    border-bottom:0;
  }

  .task-list-task-completed-show-more {
    text-align: center;
    padding:5px;
    background-color: #f7f7f7;
  }


}

.tasks-completed {
  min-height:0 !important;
}

.task-list-state-highlight  {
  height: 60px !important;
  line-height: 1.2em;
  background-color:#fff8e0;
  margin:10px 0;
}

.task-state-highlight {
  height: 30px;
  line-height: 1.2em;
  background-color:#fff8e0
}

.task-list-color {
  display:inline-block;
  width:1.2em;
  height:1.2em;
  border-radius:4px;
  margin:-2px 2px 0 0;
  vertical-align:middle;
  box-shadow: 0.2px 0.2px 1px;
}

.task-controls {
  font-size: 12px;
  margin-right: 10px;
  border-right: 1px solid #eee;
  padding-right: 10px;

  .dropdown-toggle {
    width:20px;
    padding:0;
    display:inline-block;
    text-align:center;
    box-shadow:none;
  }

}

.task-controls.end {
  font-size: 12px;
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}


.task-controls .fa {
  font-size: 14px;
  margin-top: 4px;
}

.task-controls a {
  color: #999;
}

.task-controls a:hover {
  color: #3b4854;
}

.task-empty-list-alert {
  margin-bottom:10px;
}

#task-form .ProseMirror-menubar-wrapper {
  z-index: 8;
}

#task-form .ProseMirror {
  min-height: 150px !important;
}